h1 {text-align: center;
}
.titre {border: 1px solid black; border-radius: 10px; border-color: white;
}
body { background-color: #3366FF; color: white; max-width: 960px; margin: auto;
}
h2 {border: 1px solid black; border-radius: 10px; border-color: white; text-align: center;
}
li {font-family: Arial;
}
p {font-family: Arial; text-align: center;
}
